html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1136px;
}
.el-breadcrumb {
    margin-bottom: 20px;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0, 0.15) !important;
}
.denBtn,.warBtn {
    margin-left: 0!important;
}
.userTable {
    margin-top: 15px!important;
}
.addUser {
    margin-right: 10px!important;
}
.el-pagination {
    margin-top: 15px;
}
.el-step__title {
    font-size: 12px;
}
.el-steps {
    margin-top: 15px;
}
